/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* -------------------------------------------------- */

html,
body,
#root {
  /* To make use of full height of page*/
  height: 100%;
}

body {
  background-color: blue;
}

.container {
  height: 100%;
  display: flex;
  justify-content: start;
  background-color: #000000;
}

#sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  background-color: #2f2f2f;
  flex-grow: 1;
}

#sidebar-header {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  margin-bottom: 20px;
}

#sidebar-header-logo {
  font-size: 36px;
  font-weight: bold;
  background-color: black;
  padding: 0px 5px;
  color: #dbdbdb;
  border: groove 10px;
}

#sidebar-header-version-number {
  font-style: italic;
  color: #888888;
}

#sidebar-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#sidebar-tabs-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.sidebar-tab {
  color: #ffffff;
  padding: 5px 0px;
  transition-property: all;
  transition-duration: 0.5s;
}

.sidebar-tab:hover,
.sidebar-tab.active {
  background-color: #4f4f4f;
}

#toolbar {
  width: 100%;
  display: flex;
  justify-content: end;
  background-color: #403d3d;
  padding: 10px;
  padding-right: 100px;
}

#ui-pane {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 9;
}

#project-list {
  flex-grow: 0;
  overflow-y: auto;
}

#test1 {
  width: 30px;
}
